<div
  class="container flex flex-wrap flex-column justify-content-center"
>
  <div>
    <mat-form-field
      appearance="fill"
      class="width-100"
    >
      <mat-label>Select an option</mat-label>
      <mat-select
        [(value)]="selectedEmail"
      >
        <mat-option *ngFor="let part of questionnaire.participants" [value]="part.email">
          {{part.displayName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div
    class="ml-auto mr-auto"
  >
    <button
      mat-raised-button
      color="accent"
      class="ml-auto mr-auto"
      (click)="goView()"
      [disabled]="!selectedEmail"
    >
      Review
    </button>
  </div>

</div>
