<div
  class="flex-wrapper-card p-3"
  *ngIf="users"
>
  <div class="q-card " *ngFor="let user of users">
    <mat-card>
      <div style="display: flex; justify-content: space-between">
        <mat-card-title>{{user.displayName}}</mat-card-title>

        <div  style="display: flex; justify-content: space-between; align-items: center;">
          <mat-icon aria-hidden="false">mail</mat-icon>
          <span class="m-2">{{user.email}}</span>
        </div>
        <mat-slide-toggle checked="{{user.isAdmin}}" (change)="toggleRole(user.email)">
          Адміністратор
        </mat-slide-toggle>
      </div>
    </mat-card>
  </div>
</div>

<div class="row justify-content-center align-items-center"
     *ngIf="users &&users.length===0"
>
  Ви самотні, як ковбой на дикому заході, інші користувачі в системі відсутні😢
</div>

<div
  class="container-fluid d-flex justify-content-center m-5"
  *ngIf="!users"
>
  <mat-spinner color="accent"></mat-spinner>
</div>
