<div class="container-fluid">
  <form [formGroup]="form">
    <mat-form-field
      appearance="standard"
      class="long-input"
    >
      <mat-label>Назва опитника</mat-label>
      <input matInput
             placeholder="Назва опитника"
             [formControlName]="'title'">
      <mat-error *ngIf="form.get('title').invalid">Назва опитника є обов'язковим полем</mat-error>
    </mat-form-field>

    <app-create-chapter [form]="form"></app-create-chapter>

    <button mat-raised-button
            color="primary"
            (click)="addChapter()"
            [disabled]="form.invalid"
    >
      Додати розділ
    </button>

    <button mat-raised-button
            color="warn"
            class="m-3"
            (click)="removeChapter()"
            [disabled]="isLastChapter"
    >
      Видалити останній розділ
    </button>

    <button mat-raised-button
            color="accent"
            class="m-3"
            (click)="saveForm()"
            [disabled]="form.invalid"
    >
      Зберегти опитник
    </button>

  </form>
</div>

