<div
  class="flex-wrapper-card p-3"
  *ngIf="questionnaires"
>
  <div class="q-card" *ngFor="let quest of questionnaires">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{quest.title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <span>Створений: {{showDate(quest)}}</span>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-raised-button
          color="accent"
          (click)="openDialog(quest)"
        >
          Відповіді респондента
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div
  class="container-fluid d-flex justify-content-center m-5"
  *ngIf="!questionnaires"
>
  <mat-spinner color="accent"></mat-spinner>
</div>
