<div [formGroup]="form">
  <mat-horizontal-stepper [linear]="false" #stepper>
    <div [formArrayName]="'chapters'"
         *ngFor="let item of chapters.controls; let i = index;"
    >
      <mat-step
        [stepControl]="item"
        [formGroupName]="i"
      >

        <ng-template matStepLabel>{{item.get('title').value}}</ng-template>
        <div class="col-styling">
          <mat-form-field
            appearance="standard"
            class="medium-input"
          >
            <mat-label>Назва розділа</mat-label>
            <input matInput placeholder="Назва розділа" [formControlName]="'title'">
            <mat-error *ngIf="item.get('title').invalid">Поле назва розділа є обов'язковим</mat-error>
          </mat-form-field>

          <mat-form-field
            appearance="standard"
            class="long-input"
          >
            <mat-label>Опис розділа</mat-label>
            <input matInput placeholder="Опис розділа" [formControlName]="'description'">
            <mat-error *ngIf="item.get('description').invalid">Поле опис розділа є обов'язковим</mat-error>
          </mat-form-field>

          <h3>Запитання:</h3>

          <app-create-question [chapter]="item"></app-create-question>

          <div>
            <button mat-raised-button
                    color="accent"
                    (click)="addQuestion(item, 'oneOf')"
                    [disabled]="chapterIsInvalid(item)"
            >
              Додати питання "вибір з одного"
            </button>

            <button mat-raised-button
                    color="accent"
                    class="m-3"
                    (click)="addQuestion(item, 'open')"
                    [disabled]="chapterIsInvalid(item)"
            >
              Додати питання "відкрита відповідь"
            </button>

            <button mat-raised-button
                    color="accent"
                    class="m-3"
                    (click)="addQuestion(item, 'range')"
                    [disabled]="chapterIsInvalid(item)"
            >
              Додати питання "шкала"
            </button>

            <button mat-raised-button
                    color="warn"
                    class="m-3"
                    (click)="deleteLastQuestion(item)"
                    [disabled]="isNoQuestion(item)"
            >
              Видалити останнє питання
            </button>
          </div>
        </div>
      </mat-step>
    </div>
  </mat-horizontal-stepper>
</div>

