<div [formGroup]="item">
  <div [formArrayName]="'questions'"
       *ngFor="let item2 of questions(item).controls; let j = index;"
  >
    <div [formGroupName]="j">
      <div *ngIf="item2.get('type').value === 'oneOf'">
        <mat-form-field
          appearance="standard"
          class="long-input"
        >
          <mat-label>Заголовок питання</mat-label>
          <input matInput placeholder="Chapter's name" [formControlName]="'title'">
          <mat-error *ngIf="item2.get('title').invalid">Поле заголовок питання є обов'язковим</mat-error>
        </mat-form-field>

        <div class="p-3">
          <h4>Варіанти відповідей</h4>

          <div [formArrayName]="'answers'"
               *ngFor="let item3 of answers(item2).controls; let k = index;"
          >
            <mat-form-field
              appearance="standard"
              class="medium-input"
            >
              <mat-label>Answer's title</mat-label>
              <input matInput placeholder="Текст відповіді" [formControl]="answers(item2).controls[k]">
              <mat-error *ngIf="item2.get('title').invalid">Поле текст відповіді є обов'язковим</mat-error>
            </mat-form-field>
          </div>

          <button mat-raised-button
                  color="accent"
                  (click)="addAnswer(item2)"
                  [disabled]="invalidPrevAnswers(item2)"
          >
            Додати відповідь
          </button>
          <button mat-raised-button
                  color="accent"
                  class="m-3"
                  (click)="removeAnswer(item2)"
                  [disabled]="only2Answers(item2)"
          >
            Видалити відповідь
          </button>
        </div>
      </div>
      <div *ngIf="item2.get('type').value === 'open'">
        <mat-form-field
          appearance="standard"
          class="long-input"
        >
          <mat-label>Question's title</mat-label>
          <input matInput placeholder="Назва розділу" [formControlName]="'title'">
          <mat-error *ngIf="item2.get('title').invalid">Question's title is required</mat-error>
        </mat-form-field>
        <div>
          <mat-form-field
            appearance="standard"
          >
            <mat-label>Мінімальна довжина відповіді</mat-label>
            <input [type]="'number'" matInput
                   placeholder="Мінімальна довжина відповіді"
                   [formControlName]="'minLength'">
            <mat-error *ngIf="item2.get('minLength').invalid">Поле мінімальної довжини відповіді є обов'язковим і має мати значення, що більше за 0</mat-error>
          </mat-form-field>
          <mat-form-field
            appearance="standard"
            class="m-3"
          >
            <mat-label>Максимальна довжина відповіді</mat-label>
            <input [type]="'number'" matInput
                   placeholder="Максимальна довжина відповіді"
                   [formControlName]="'maxLength'">
            <mat-error *ngIf="item2.get('maxLength').invalid">Поле максимальної довжини відповіді є обов'язковим і має мати значення, що меншим за 1000</mat-error>
          </mat-form-field>
        </div>

      </div>
      <div *ngIf="item2.get('type').value === 'range'">
        <mat-form-field
          appearance="standard"
          class="long-input"
        >
          <mat-label>Заголовок питання</mat-label>
          <input matInput placeholder="Назва розділу" [formControlName]="'title'">
          <mat-error *ngIf="item2.get('title').invalid">Поле заголовку питання є обов'язковим</mat-error>
        </mat-form-field>
        <div>
          <mat-form-field
            appearance="standard"
          >
            <mat-label>Мінімальне значення шкали</mat-label>
            <input [type]="'number'" matInput
                   placeholder="Мінімальне значення шкали"
                   [formControlName]="'min'">
            <mat-error *ngIf="item2.get('min').invalid">Поле мінімальне значення шкали є обов'язковим</mat-error>
          </mat-form-field>
          <mat-form-field
            appearance="standard"
            class="m-3"
          >
            <mat-label>Максимальне значення шкали</mat-label>
            <input [type]="'number'" matInput
                   placeholder="Максимальне значення шкали"
                   [formControlName]="'max'">
            <mat-error *ngIf="item2.get('max').invalid">Поле максимальне значення шкали є обов'язковим</mat-error>
          </mat-form-field>
        </div>

      </div>
      <hr/>
    </div>
  </div>
</div>

